# Virtual environments
.venv
.venv/
*/.venv
*/.venv/
venv/
env/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables & secrets
.env
*/.env
!.env.example
!*/.env.example

# Temporary & database files
*.db-journal

# OS files
.DS_Store
Thumbs.db

# Test & coverage caches
.pytest_cache/
.coverage
htmlcov/
